/* overlay */

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  z-index: 100;
  display: none;
}

.cnt223 a {
  text-decoration: none;
}

.popup {
  width: 100%;
  margin: 0 auto;
  display: none;
  position: fixed;
  z-index: 101;
}

#pop-image {
  max-width: 98%;
  margin: auto;
  height: 35rem;
}

.cnt223 {
  max-width: 70%;
  min-height: 150px;
  margin: 60px auto;
  background: #f3f3f3;
  position: relative;
  top: -50px;
  z-index: 103;
  padding: 15px 35px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #000;
}

.img-div {
  display: flex;
}
.popup-notice {
  margin: auto;
}
@media (min-width: 481px) and (max-width: 767px) {
  .cnt223 {
    max-width: 80%;
  }
  #pop-image {
    max-width: 98%;
    margin: auto;
    height: 28rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .cnt223 {
    max-width: 95%;
  }
  #pop-image {
    max-width: 98%;
    margin: auto;
    height: 28rem;
  }
}

.cnt223 p {
  clear: both;
  color: #555555;
  /* text-align: justify; */
  font-size: 1.25rem;
  font-family: sans-serif;
}

#close {
  color: #d91900;
  font-weight: bold;
}

.cnt223 .x {
  float: right;
  height: 35px;
  left: 22px;
  position: relative;
  top: -25px;
  width: 34px;
}

.cnt223 .x:hover {
  cursor: pointer;
}

/* overlay */

.bg-grey {
  width: 100%;
  background: #eef5fb;
}

.josefin-font {
  font-family: "Josefin Sans", sans-serif;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
}

.dancing-font {
  font-family: "Dancing Script", cursive;
  margin-top: 55px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.fs-100 {
  font-size: 100px;
}

.fs-110 {
  font-size: 110px;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.color-black {
  color: #000000;
}

.color-251605 {
  color: #251605;
}

.color-3772FF {
  color: #3772ff;
}

.navbar-toggler:focus {
  /* border-color: #3773ffde;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(104, 196, 239, 0.493);
  outline: 0 none; */
  border: 2px solid;
  box-shadow: none;
}

a:hover {
  color: #3772ff !important;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 800;
  font-variant: small-caps;
}

#hero {
  width: 100%;
  /* height: 100vh; */
  padding-top: 50px;
}

.svg1 {
  width: 100%;
  height: 50px;
  left: 0px;

  background: linear-gradient(180deg, rgba(238, 244, 249, 0) 0%, #bdd8ef 100%);
  border-bottom: 1px solid #bdd8ef;
}
.svg2 {
  width: 100%;
  height: 50px;
  left: 0px;

  background: linear-gradient(180deg, #bdd8ef 0%, rgba(238, 245, 251, 0) 100%);
}

#committe img {
  border-radius: 10px;
}

.group-commitee img {
  border-radius: 20px;
}

.share-wrapper {
  height: 60px;
  bottom: 30px;
}

.share-wrapper .share {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #000000;
  background: #bdd8ef;
  text-align: center;
  line-height: 2.5;
  font-size: 25px;
  cursor: pointer;
  right: 30px;
  transition: 0.4s;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.28);
  z-index: 111111;
}
.share-wrapper .share.active {
  background-color: #3772ff;
}
.share-wrapper .share.active + .social li {
  transform: scale(1);
}
.share-wrapper .share.active + .social li:hover {
  transform: scale(1.1);
}
.share-wrapper .social {
  opacity: 0;
  background: #eef5fb;
  display: none;
  list-style-type: none;
  position: absolute;
  bottom: 20px;
  width: 60px;
  right: 30px;
  padding: 0;
  margin: 0;
  transform: translate(-3rem, 3rem);
  border-radius: 50px 50px 0px 0px;
  transition: visibility 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}
.share-wrapper .social.active {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(0);
}
.share-wrapper .social li {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  color: #fff;
  background-color: #fff;
  text-align: center;
  line-height: 2.1;
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 15px;
  box-shadow: 0.5px 0.87px 4px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
  transform: scale(0.4);
}
.share-wrapper .social li .facebook {
  color: #3a589e;
}
.share-wrapper .social li .twitter {
  color: #5fa9dd;
}
.share-wrapper .social li .whatsapp {
  color: #2e8452;
}
.share-wrapper .social li .google {
  color: #df4b38;
}
.share-wrapper .social li .pinterest {
  color: #cd2129;
}
.share-wrapper .social li .youtube {
  color: #cf2227;
}
.share-wrapper .social li .instagram {
  color: deeppink;
}

.president-list-item {
  max-width: 18rem;
  padding-left: 1.5rem;
}

.president-list-item p {
  font-weight: bolder;
  margin: 0;
  text-align: center;
}

.president-details {
  background: rgb(255, 247, 235);
  background: linear-gradient(
    0deg,
    rgba(255, 247, 235, 1) 0%,
    rgba(238, 245, 251, 1) 100%
  );
  padding: 0.8rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.president-list-item .period {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.president-list li::marker {
  content: "\27B1";
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  vertical-align: bottom;
}

.current-president li::marker {
  content: "\27A8";
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  vertical-align: bottom;
}

.rect {
  width: 100%;

  background: #eef5fb;
}

.rect1 {
  width: 100%;

  background: #bdd8ef;
}

.rect div ul a {
  color: #808080 !important;
  padding-right: 10px;
}
.rect div ul a:hover {
  color: red !important;
}

@media (max-width: 980px) {
  .navbar object {
    height: 50px;
    width: 50px;
  }
  #hero h1 {
    font-size: 55px !important;
  }
  #hero img {
    width: inherit;
  }
  #hero {
    justify-content: center;
    text-align: center;
  }
  .gymkhana {
    top: 18px !important;
    padding-right: 10px;
  }
  .navbar-brand {
    font-size: 16px !important;
  }
  .container-fluid {
    margin: 0px 0px 0px 0px !important;
  }
  #hero p {
    padding: 0px 10px 0px 10px !important;
  }
  .rect {
    top: 560px;
  }
  #committe h1 {
    font-size: 55px;
  }
  .group-commitee img {
    width: inherit;
  }
}
